<form action="" method="post" onsubmit="OnSubmit()">
    {% csrf_token %}
    {{ form.as_p }}
    {% if object.pk %}
        <p>
            <b>Schema Name:</b> {{ object.schema_name }}
        </p>
    {% endif %}
    <input type="submit" id="btn-submit" value="{% if object.pk %}Update{% else %}Create{% endif %}" />
</form>
<a href="{% url 'company-list' %}">Go Back to List</a>
<script>
    function OnSubmit() {
        var button = document.getElementById('btn-submit');
        button.disabled = true;
    }
</script>